<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form name="punchout_form" method="post" action="https://openapi.alipaydev.com/gateway.do?charset=utf-8&method=alipay.trade.page.pay&sign=ffqNYLiHa7wlmwobD%2FAld6%2Fq%2BPHb%2BC4OvvQ1q3XKIw5Rqg7Vy4bePf2FcU7k8lO1djjooi3VKZjqmKTy5JZKEX%2FoKe4FYmZzXiv70M%2FGtanQQBq8gB38RE8wi%2BYk7a%2FSeo%2BHsLgquPf8jf2s9F6blWaL1j%2FXKDpAIDTbYtroH5E6Y5O4aM5gEsGM9C7qIIKBQ7ZWP0n6aovry8xBpPu8WvqvKHO3noKN3zNZYTWNjNdRiuQOXTwd4SCNmioRt7jJZf7eAGRbcdPPsDztLef%2BrDdcJTHDL16RMgbN8WR%2FF0AElHO2FAqLsH1V85GTglQSyk49V4P%2BN5IXMHDwNCsKUA%3D%3D&return_url=http%3Awww.baidu.com&notify_url=xxxxxx&version=1.0&app_id=2021000116668250&sign_type=RSA2&timestamp=2020-07-28+14%3A34%3A48&alipay_sdk=alipay-sdk-java-4.8.10.ALL&format=json">
    <input type="hidden" name="biz_content" value="{&quot;out_trade_no&quot;:&quot;202007281434229421287999825530339329&quot;,&quot;total_amount&quot;:&quot;100&quot;,&quot;subject&quot;:&quot;幂&quot;,&quot;body&quot;:&quot;支付平台&quot;,&quot;product_code&quot;:&quot;FAST_INSTANT_TRADE_PAY&quot;}">
    <input type="submit" value="立即支付" style="display:none" >
</form>
<script>document.forms[0].submit();</script>





</body>
</html>